{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}
    <h1>Hey, {{ user.username }}</h1>

    <div class="card mx-auto bg-transparent" style="width: 25rem;">
        <div class="card-body bg-transparent">
            <h5 class="card-title">{{ user.username }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-dark text-center bg-transparent">Email - {{ user.email }}</li>
            <li class="list-group-item text-dark text-center bg-transparent">Created at - {{ user.createdAt|date("Y-m-d H:i:s") }}</li>
        </ul>
        <div class="card-body">
            <a href="{{ path('profile_change_password') }}" class="card-link text-primary">Change password</a>
        </div>
    </div>
{% endblock %}
