<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Really simple webhooks - {% block title %}Home{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>
    <meta name="author" content="Valentinas Kasteckis">
    {% block stylesheets %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {{ encore_entry_link_tags('app') }}

</head>
<body>
<div class="wrapper d-flex align-items-stretch">
    {% include 'navbar.html.twig' %}

    <div id="content" class="p-4 p-md-5 pt-5">
        {% for label, messages in app.flashes(['success', 'warning', 'danger']) %}
            {% for message in messages %}
                <div class="toast" style="position: absolute; top: 2%; right: 2%;" data-delay="5000">
                    <div class="toast-header bg-{{ label }}">
                        <strong class="mr-auto text-dark">ALERT</strong>
                        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="toast-body">
                       <span class="text-dark">{{ message }}</span>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
        {% block body %}{% endblock %}
    </div>
</div>

{{ encore_entry_script_tags('jquery') }}
{{ encore_entry_script_tags('popper') }}
{{ encore_entry_script_tags('bootstrap') }}
{{ encore_entry_script_tags('app') }}

{% block javascripts %}{% endblock %}
</body>
</html>