{% extends 'base.html.twig' %}

{% block title %}Hello JobsController!{% endblock %}

{% block body %}
    <h1>Create your trigger endpoints here</h1>

    <input type="submit" class="btn btn-primary float-right mb-3" value="Create new job">
    {% if jobs|length > 0 %}
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th scope="col">{{ 'jobs.index.title'|trans }}</th>
                <th scope="col">{{ 'jobs.index.endpoint'|trans }}</th>
                <th scope="col">{{ 'jobs.index.path_to_exe'|trans }}</th>
                <th scope="col">{{ 'jobs.index.enabled'|trans }}</th>
                <th scope="col">{{ 'jobs.index.last_time_triggered'|trans }}</th>
            </tr>
            </thead>
            <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.title }}</td>
                    <td>{{ job.endpoint }}</td>
                    <td>{{ job.pathToExecutable }}</td>
                    <td class="text-center">
                        {% if job.endpoint %}
                            <i class="fa fa-check" aria-hidden="true"></i>
                        {% else %}
                            <i class="fa fa-ban" aria-hidden="true"></i>
                        {% endif %}
                    </td>
                    <td>{{ job.triggeredDateTime|date("Y-m-d H:i:s") }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h3 class="text-center" style="color: red">{{ 'jobs.index.you_have_no_jobs'|trans }}</h3>
    {% endif %}
{% endblock %}
